body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #000000;
  background-image: url(/img/bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;

  background-color: #f7f4f1;
  background-image: url(/img/pattern-light.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.container {
  border: 1px solid orange;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  border: 1px solid orange;
  margin-bottom: 75px;
}

.inner-page .main-header {
  margin-bottom: 50px;
  background-color: #000000;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.inner-page .main-navigation {
  flex-direction: row;
  align-items: start;
}

.main-header-logo {
  border: 1px solid burlywood;
  order: 2;
  width: 368px;
  height: 153px;
}

.inner-page .main-header-logo {
  order: 0;
  width: 111px;
  height: 24px;
  padding: 23px 20px;
}

.main-navigation__wrapper {
  border: 1px solid pink;
  width: 100%;
  margin-bottom: 60px;
  background-color: #000000;
}

.main-navigation__wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  border: 1px solid burlywood;
  width: 620px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-navigation {
  border: 1px solid burlywood;
  width: 140px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.features {
  margin-bottom: 80px;
}

.features-list {
  border: 1px solid greenyellow;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #f7f4f1;
}

.feature-item {
  border: 1px solid burlywood;
  width: 300px;
  text-align: center;
}

.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.index-column {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
  color: #000000;
  background-color: #f7f4f1;
  background-image: url(/img/pattern-light.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.index-column h2 {
  font-size: 30px;
  line-height: 42px;
}

.news {
  border: 1px solid burlywood;
  width: 380px;
}

.news-list {
  list-style: none;
}

.news-item {
  text-transform: none;
}

.gallery {
  border: 1px solid burlywood;
  width: 300px;
}

.gallery-content {
  background-color: #e5e5e5;
  border: 7px solid #ffffff;
}

.contacts {
  border: 1px solid burlywood;
  width: 380px;
}

.appointment {
  border: 1px solid burlywood;
  width: 300px;
}

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border: 2px solid #663d15;
}

.page-title {
  border: 1px solid burlywood;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  border: 1px solid orange;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  border: 1px solid orange;
  width: 180px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  border: 1px solid burlywood;
  font-size: 24px;
  line-height: 30px;
}

.filter-option {
  border: 1px solid burlywood;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter input:hover + label,
.filter input:focus + label {
  color: #663d15;
}

.filter input:disabled + label {
  color: #000000;
  opacity: 0.5;
}

.catalog {
  border: 1px solid orange;
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
}

.catalog-item {
  /* border: 1px solid orange; */
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
}

.catalog-category {
  text-transform: none;
}

.catalog-item__price b {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background-color: #e5e5e5;
}

.catalog-item__price .button {
  color: #ffffff;
  line-height: 20px;
}

.pagination-list {
  border: 1px solid orange;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item a {
  color: #ffffff;
  background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}

.pagination-item__current a {
  color: #000000;
  background-color: #ffffff;
}

.pagination-item__current a:hover,
.pagination-item__current a:focus,
.pagination-item__current a:active {
  color: #000000;
  background-color: #ffffff;
}

.product-photos {
  border: 1px solid red;
  width: 460px;
}

.product-photo__preview {
  list-style: none;
}

.product-photo__preview li {
  border: 1px solid burlywood;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-photo__full {
  border: 1px solid burlywood;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-articul {
  text-align: right;
  color: #aeaeae;
}

.product-price b {
  text-align: center;
  background-color: #aeaeae;
}

.product-info {
  border: 1px solid red;
  width: 390px;
}

.product-info h3 {
  font-size: 24px;
  line-height: 30px;
}

.product-info ul {
  border: 1px solid burlywood;
  list-style: none;
}

.main-footer {
  border: 1px solid orange;
  padding: 60px 0;
  margin-top: 65px;
  color: #ffffff;

  background-color: #202020;
  background-image: url(/img/pattern-dark.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page .main-footer {
  margin-top: 45px;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  border: 1px solid burlywood;
  margin: 0;
  margin-right: 80px;
  width: 320px;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #797876;
}

.footer-social {
  border: 1px solid burlywood;
  text-align: center;
  width: 145px;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-copyright {
  border: 1px solid burlywood;
  margin: 0;
  margin-left: auto;
  text-align: center;
  width: 150px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;
  background-color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #f2efec;
  background-image: url(/img/pattern-light.jpg);
  background-position: 0, 0;
  background-repeat: repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.restore {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #797876;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
